

  .page-header {
    height: 20vh;
    width: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .page-title {
      font-size: 300%;
      color: #ffff;
      letter-spacing: 4px;
      font-weight: bold;
    }
  }