
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(250, 105, 100);
  padding: 12 0px;
  

  & .menu {
    margin-right: 24px;
    z-index: 1000;
    & > svg {
      &:hover { cursor: pointer; }
      width: 45px;
      & > path:nth-child(1) {
        transform-origin: 40px 40px;
        transition: transform 1s;
        transform: rotate(0deg);
      }
      & > path:nth-child(2) {
        transition: opacity 0.5s ease-in-out;
        height: auto;
      }
      & > path:nth-child(3) {
        transform-origin: 40px 90px;
        transition: transform 1s;
        transform: rotate(0deg);
      }
    }

    &.menu-active {
      & > svg {
        z-index: 11;
        & > path:nth-child(1) {
          transition: transform 1s;
          transform: rotate(45deg);
        }
        & > path:nth-child(2) {
          transition: opacity 0.5s ease-in-out;
          opacity: 0;
        }
        & > path:nth-child(3) {
          transition: transform 1s;
          transform: rotate(-45deg);
        }
      }
    }
  }

  & > .sidenav {
    height: 100%;
    width: 0;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(56, 51, 48); 
    overflow-x: hidden;
    transition: 0.5s;

    &.sidenav-active {
      width: 250px;
      // width: 100%;
    }

    & > .opts {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Raleway';
      font-size: 135%;
      font-weight: bold;
      letter-spacing: 3px;
      & > a.opt {
        padding: 8px;
        text-overflow: clip;
        white-space: nowrap;
        background: initial !important;
        color:white !important;
        margin: 24px 0;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }


  & > .logo {
    margin-left: 24px;
    margin: 8px 0 0 24px;
    & > img {
      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
      &:focus { outline: none }
      outline: none;
      width: 85px;
    }
  }
}

.opt-active {
  transition: border 1s;
  border: 2px solid white !important;
}