
div.projects-page {
  width: 100%;
}

div.projects-intro {

  width: 100%;

  & > .projects-info {
    height: 40vh;
    background: #ffff;
    background: rgb(90, 88, 88);

    & > .info-header {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      div { text-align: center; color: white; }
      & > div:nth-child(1) {
        font-size: 220%;
        font-weight: bold;
        margin-bottom: 8px;
      }
      div:nth-child(2) {
        margin-top: 8px;
        font-size: 110%;
        max-width: 80%;
        letter-spacing: 1px;
        width: 500px;
      }
      img {
        margin: 0 0 48px;
        width: 80px;
      }
    }
  }

}

a.learn-more {
  padding: 8px 16px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 125%;
  font-weight: bold;
  color: white;
  margin-top: 48px;

  &.coming-soon {
    border: 2px dashed white;
    // font-weight: 400;
    cursor: default;
  }
}



div.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white; 
  width: 100%;
  min-height: 110vh;
  height: 100%;
  
  padding: 24px 0;
  box-sizing: border-box;

  & > .project-header {

    color: #ffff;
    margin: 0 0 48px;
    text-align: center;

    & > .project-title {
      font-size: 300%;
      font-weight: bold;
      margin-bottom: 24px;
      font-variant: small-caps;
    }
    & > .project-description {
      font-size: 120%;
      width: 55%;
      margin: auto;
    }
  }

  & > .project-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    & > img {
      width: 200px;
      margin: 0 24px;
    }
  }
}


.overlay-images {
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
  
  @media all and (min-width: 1100px) {  
    & > :first-child { width: 50% }
    & > :last-child {
      margin-left: -100px;
      width: 35%;
    }
  }
  @media all and (max-width: 1099px) {
    & > img {
      width: 80%;
      margin: 24px 0;
    }
  }
  
}

#sub-out-card { background: #00C8AA; }
// #code-plug-card { background: #52274c; }
#code-plug-card { background: #24282E; }
#atl-card { background: #019CBB; }
#fj-card {
  background: #02804D;
  & img {
    width: 60%;
  }
}
