
<div class="projects-page">

  <div class="projects-intro">

    <!-- <div class="projects-header">
      <div class="projects-title">My Portfolio</div>
    </div> -->

    <div class="projects-info">
      <div class="info-header">
        <div>If you're curious.</div>
        <div>This is what I've been working on lately. You'll find projects for my professional clients as well as some personal ones. Feel free to take a look.</div>
      </div>
    </div>

  </div>

  <div class="project-card" id="atl-card">
    <div class="project-header">
      <div class="project-title">1080° Sweep</div>
      <div class="project-description">A web based software oriented towards personal leadership development. Designed with a variety of tools from assessment taking, goal tracking, to competency based analysis.</div>
    </div>

    <div class="overlay-images">
    <!-- <div class="project-images"> -->
      <img src="assets/images/1080alframed.png" alt="Assets and Liabilities">
      <img src="assets/images/1080goalframed.png" alt="Goal Tracking">
    </div>
  </div>

  <div class="project-card" id="sub-out-card">
    <div class="project-header">
      <div class="project-title">Sub Out</div>
      <div class="project-description">A mobile application designed for coaches of recreational sports. It allows coaches to automatically track their substitutions during a game using a custom roster.</div>
    </div>

    <div class="project-images">
      <img src="assets/images/newteam1.png" alt="New Team" class="app-image">
      <img src="assets/images/allteams.png" alt="New Team" class="app-image">
      <img src="assets/images/newteam2.png" alt="New Team" class="app-image">
    </div>
  </div>

  
  <div class="project-card" id="fj-card">
    <div class="project-header">
      <div class="project-title">Farnsworth Johnson</div>
      <div class="project-description">An informational site for a law firm. Design focus was on displaying concise information in an efficient format.</div>
    </div>

    <div class="project-images" id="fj-card">
      <img src="assets/images/farnsworthjohnsonframed.png" alt="Farnsworth Johnson">
    </div>
  </div>
  
</div>





<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div> -->