
.contact-page {
  width: 100%;
  padding: 48px 0;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background: #ffff;
  padding: 48px;
  border-radius: 8px;
  width: 800px;
  max-width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > * { width: 80%; font-size: 110%; }

  & > .contact-header {
    color: rgb(250, 105, 100);
    font-weight: bold;
    margin-bottom: 24px;
    width: max-content;
    max-width: 100%;
    font-size: 135%;
  }

  & > .contact-input {

    &:focus { outline: none; border-bottom: 2px solid rgb(250, 105, 100); }
    border: none;
    margin-bottom: 16px;
    height: 125%;
    display: block;
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
    color: rgb(250, 105, 100);
    font-weight: bold;
  }

  & > button.contact-btn {
    display: block;
    background: white;
    &:focus { outline: none; }
    cursor: pointer;
    padding: 8px 16px;
    width: max-content;
    max-width: 100%;
    border: 3px solid rgb(250, 105, 100);
    border-radius: 8px;
    margin-top: 36px;
    color: rgb(250, 105, 100);
    font-weight: bold;
  }

  & > div.form-error {
    color: rgb(250, 105, 100);
    font-size: 90%;
    text-align: center;
    margin: 16px auto 0;
  }
}

.contact-message {
  color: rgb(250, 105, 100);
  font-weight: bold;

  &:focus { outline: none; border-bottom: 2px solid rgb(250, 105, 100); }
  border: none;
  border-bottom: 2px solid grey;

  resize: none;
  padding-bottom: 8px;
  box-sizing: border-box;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: rgb(250, 105, 100);
}

.inquiry-response {
  max-width: 60%;
  border-radius: 8px;
  background: #ffff;
  color: rgb(250, 105, 100);
  padding: 24px;
  font-size: 135%;
  font-weight: bold;
}
