
<div style="height: 12vh; display: flex; justify-content: center; align-items: center; color: white; font-weight: bold;">Todd Johnson</div>

<!-- <div class="contact-page">

  <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="contact-form">

    <div class="contact-header">Interested in working together?</div>

    <input type="text" class="contact-input" placeholder="Name" formControlName="name">
    <input type="text" class="contact-input" placeholder="Email" formControlName="email">
    <textarea class="contact-message" placeholder="Message" rows="3" formControlName="message"></textarea>

    <button class="contact-btn" type="button">Send Inquiry</button>
  </form>

</div> -->