
div.services-page {
  height: 100vh;
  width: 100%;
  background: rgb(250, 105, 100);
  padding-top: 3%;
}

div.service-cards {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  & > div.service-card {
    & > div.service-title {
      font-size: 125%;
      font-family: 'Raleway';
    }
    border-radius: 12px;
    min-width: 25%;
    padding: 24px;
    margin: 8px;
    color: white;
    background: rgb(250, 105, 100);
  }
}
