
div.services-page {
  height: auto;
  width: 100%;
  // background: rgb(250, 105, 100);
  // background: white;
  background: rgb(90, 88, 88);

  & > .services-header {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;

    & > .services-title {
      text-align: center;
      font-size: 220%;
      margin-bottom: 8px;
    }

    & > .services-intro {
      font-size: 110%;
      margin-top: 8px;
    }
  }

  & > .services-ctn {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    @media all and (max-width: 1099px) {
      flex-wrap: wrap;
    }
    
    
    & > .service {
      height: 60vh;
      @media all and (max-width: 1099px) {
        height: 50vh;
      }
      background: #00C7AA;
      width: 100%;
      min-width: 300px;
      &:nth-child(2) {background: rgb(250, 105, 100);}
      &:nth-child(3) {background: rgb(250, 221, 95);}
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      font-weight: bold;
      font-size: 175%;
      padding: 24px;
      color: white;

      & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        // height: 30vh;
        @media all and (max-width: 1099px) {
          // height: 100%;
        }
      }

      & .service-img {
        margin-bottom: 24px;
        & > img {
          width: 200px;
        }
      }
    }
  }
  
}

// clip-path: polygon(30% 5%, 0 50%, 30% 95%, 70% 95%, 100% 50%, 70% 5%);