.home-page {
  padding: 32px;
  box-sizing: border-box;
  font-family: 'Raleway';
  color: white;
  
  & h4 {
    font-weight: normal;
    font-size: 300%;
    letter-spacing: 7.5px;
  }
  
  & h2 {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 350%;
  }

  & > .header {
    margin: 12vh 0 0 0;
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  & > .quick-links {
    margin-top: 24px;
    & > a.opt {
      border: 2px solid white;
      padding: 24px;
      margin: 0 24px;
      font-size: 125%;
      color: white;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #F7AB96;
  background: rgb(250, 105, 100);
  height: 100vh;
  width: 100%;
}

.home-info-page {
  height: 100vh;
  width: 100%;
  background: aqua;
}

.nav-btn {
  width: 60px;
  // position: absolute;
  // right: calc(50vw - (60px / 2));
  // bottom: 12%;
  // z-index: 16;
  padding: 0px;
  transition: padding 450ms;
  &:hover {
    cursor: pointer;
    padding: 12px 0;
  }
}

// background: rgb(89, 217, 243);
// background: #E8C4BC;
// background: #83DAD2;
// background: #F4554F;
// background: #42CDB2;

// font-family: 'Indie Flower';
// font-family: 'Gochi Hand';
// font-family: 'Handlee';
// font-family: 'Long Cang';
// font-family: 'Architects Daughter';
// font-family: 'Annie Use Your Telescope';
// font-family: 'The Girl Next Door';

// font-family: 'Advent Pro';
// font-family: 'Comfortaa';
// font-family: 'Didact Gothic';
// font-family: 'Poiret One';
// font-family: 'Raleway';